.estilo-header{
 background-color: black;
 height: 60px;
 box-shadow: 4px 2px 8px black;
 margin-bottom: 15px;
}
.estilo-texto{
  font-family: trebuchet MS;
  color: white;
  font-size: 20pt;
  margin-bottom: 15px;
}
.menu{
    text-decoration: none;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
}
#a:hover{
    color: darkred;
    margin-left: 15px;
    margin-right: 15px;
}
.logo{
    vertical-align: middle;
    max-height: 50px;
    max-width: 50px;
    margin-left: 3px;
    margin-right: 3px;
}
#container{
    width: 300px;
    border-radius: 15px;
    background-image:linear-gradient(to bottom, #d40000, #b85656);
    box-shadow: 2px 7px 15px grey;
    margin-left: auto;
    margin-right: auto;
}